package ${package.Controller};
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${package.Service}.${table.serviceName};
import io.swagger.annotations.Api;
#if(${restControllerStyle})
#else
import org.springframework.stereotype.Controller;
#end

/**
 * <p>
 * $!{table.comment} 前端控制器
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${restControllerStyle})
@RestController
#else
@Controller
#end
@Api(tags = "未分类接口")
@RequestMapping("/api/${table.entityName}")
public class ${table.controllerName} {
    @Autowired
    private ${table.serviceName} $table.entityName.substring(0,1).toLowerCase()$table.entityName.substring(1)Service;
}
