<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxn.pj.sys.dao.DeptsDao">
	<!-- #{name}调用的是entity.Depts中的get方法 -->
	<insert id="insertObject" parameterType="com.qxn.pj.sys.entity.Depts">
		insert into Depts values(#{id},#{name},
		#{parentId},#{sort},#{note},now(),
		now(),#{createdUser},
		#{modifiedUser});
	</insert>
	<update id="updateObject" parameterType="com.qxn.pj.sys.entity.Depts">
		update Depts set name=#{name},
		parentId=#{parentId},sort=#{sort},
		note=#{note} where id=#{id};
	</update>
</mapper>