<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxn.pj.sys.dao.UsersDao">
	<update id="editPassword">
		update users set password=#{password},
		salt=#{salt},modifiedTime=now() where 
		id=#{id}
	</update>
	<!-- mybatisAssociationPra练习 -->	
	<select id="findUserDeptRolesById" 
	resultMap="userDeptRolesPra">
		select * from users where id=#{id}
	</select>		
	<resultMap type="com.qxn.pj.sys.vo.UserDeptRolesPra" 
	id="userDeptRolesPra">
		<!-- autoMapping="true"，自动映射对应字段 -->
		<association property="users" autoMapping="true" javaType="com.qxn.pj.sys.entity.Users">			
			<!-- <id property="id" column="id"/>
		    <result property="username" column="username"/>		    
		    <result property="password" column="username"/>		    
		    ... -->
		</association>
		<association property="depts" column="deptId" 
		select="com.qxn.pj.sys.dao.DeptsDao.selectDeptById"></association>
		<collection property="roleIds" 
		select="com.qxn.pj.sys.dao.UsersRolesDao.findRoleIdsByUsersId" 
		column="id"></collection>
	</resultMap>
	
	<select id="findUserDeptRoleIdsById" 
	resultMap="userDeptRoleIds">		
 		select * from users where id=#{id}
	</select>		
	<resultMap type="com.qxn.pj.sys.vo.UserDeptRoleIds" 
	id="userDeptRoleIds">		
		<id property="id" column="id"/>
		<result property="deptId" column="deptId"/>	
		<association property="depts" column="deptId" 
		select="com.qxn.pj.sys.dao.DeptsDao.selectDeptById"></association>
		<collection property="roleIds" 
		select="com.qxn.pj.sys.dao.UsersRolesDao.findRoleIdsByUsersId" 
		column="id"></collection>
	</resultMap>
	
	<insert id="insertUser" useGeneratedKeys="true" 
	keyProperty="id">
		insert into users (username,password,salt,
		email,mobile,valid,deptId,createdTime,
		modifiedTime,createdUser,modifiedUser) 
		values(#{username},#{password},#{salt},
		#{email},#{mobile},#{valid},#{deptId},now(),
		now(),#{createdUser},#{modifiedUser})
	</insert>
	
	<select id="getRowCount" resultType="int">
		select count(*) from users
		<include refid="queryByName"/>
	</select>
	
	<select id="findPageObjects"
		resultMap="userDeptRoleIds">
		select * from users
		<include refid="queryByName"/>
		order by createdTime desc
		limit #{startIndex},#{pageSize}
	</select>	
	
	<!-- sql标签用于定义共性， 用include指令调用 -->
	<sql id="queryByName">
		<where>
			<if test="username!=null and username!=''">
				username like concat("%",#{username},"%")
			</if>
		</where>
	</sql>
	
	<update id="updateInfo">
		update users set username=#{username},
		email=#{email},mobile=#{mobile},
		deptId=#{deptId},modifiedTime=now(),
		modifiedUser=#{modifiedUser} where id=#{id}
	</update>
</mapper>